.cards {
    margin: 0;
    padding: 50px 0 66px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    justify-content: center;
    column-gap: 17px;
    row-gap: 20px;
    list-style-type: none;
}

/* - 767px*/

@media screen and (max-width: 767px) {
    .cards {
        padding: 36px 19px 48px;
    }
}
